<div class="loader">
    <div class="loader__bubbles">
        <div class="loader__bubble"></div>
        <div class="loader__bubble"></div>
        <div class="loader__bubble"></div>
        <div class="loader__bubble"></div>
    </div>
</div>