@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {

    --ff-primary: "Poppins";
    --ff-secondary: "Raleway";

    --clr-bg: #E5E5E5;
    --clr-grey: rgba(62, 55, 58, 0.82);
}

@import "partials/normalize";
@import "partials/buttons";
@import "partials/rating";
@import "partials/loader";
@import "partials/animations";
@import "partials/footer";
@import "partials/navigation";
@import "sections/testimonial";

body {
    color: var(--clr-bg);
}

.preload {
    display: none;
}

.section {
    padding: 40px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.section__heading {
    position: relative;
    font-weight: 600;
    font-size: 2rem;
}

.section__heading--withbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 3px;
    background-color: #F9A826;
}

.section__caption {
    color: #3E373A;
    margin: 1.5rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

.section__figure {
    min-width: 50%;
    margin: 1.5rem 0;
}

.center {
    text-align: center;
}

.section--last {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:540px) {
    .section__heading {
        font-size: 2.5rem;
    }
}

@media screen and (min-width:620px) {
    .section--last {
        max-width: 80%;
    }
}

@media screen and (min-width:1024px) {
    .section {
        padding: 100px 0;
    }
    .section__heading {
        font-size: 3rem;
        max-width: 80%;
    }
    .section__caption {
        font-size: 1.1rem;
        max-width: 90%;
    }
    .section {
        flex-direction: row;
    }
    .section__figure {
        margin: 0 1.5rem;
    }
    .section--last {
        max-width: 70%;
    }
}

@media screen and (min-width:1200px) {
    .section__heading {
        font-size: 4rem;
        max-width: 75%;
    }
    .section__caption {
        font-size: 1.2rem;
        max-width: 85%;
    }
    .section--last {
        max-width: 45%;
    }
}