@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");
:root {
  --ff-primary: "Poppins";
  --ff-secondary: "Raleway";
  --link-color: #555;
  --theme-color: #F9A826;
  --theme-color-2: white;
  --body-color: #E5E5E5; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  margin: 0;
  font-size: 1rem;
  background-color: var(--body-color); }

a {
  text-decoration: none;
  color: var(--link-color); }

ul {
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  color: var(--heading-color); }

p {
  color: var(--paragraph-color); }

p,
a,
span {
  font-family: var(--ff-secondary); }

img {
  max-width: 100%;
  height: auto; }

.main {
  min-height: calc(100vh - 80px - 120px); }

.container {
  max-width: 90%;
  margin: 0 auto; }

@media screen and (min-width: 620px) {
  .container {
    max-width: 80%; } }

@media screen and (min-width: 1024px) {
  .container {
    max-width: 90%; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 80%; } }

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease; }

.btn--primary {
  color: var(--theme-color-2);
  background-color: var(--theme-color); }

.btn--primary:hover {
  background-color: var(--theme-color-2);
  color: var(--theme-color);
  box-shadow: inset 0 0 0 2px var(--theme-color); }

.btn-ghost {
  color: var(--theme-color-2);
  background-color: var(--theme-color);
  opacity: 0.5; }

.btn-ghost:hover {
  opacity: 1; }

@media screen and (min-width: 1024px) {
  .btn {
    padding: 1rem 3rem; } }

.rating__list {
  display: flex;
  margin: 1rem 0; }

.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center; }

.loader__bubbles {
  display: flex; }

.loader__bubble {
  width: 30px;
  height: 30px;
  background-color: #F9A826;
  border-radius: 50%;
  transform: scale(0);
  animation: beat 1s linear infinite; }

.loader__bubble:nth-of-type(1) {
  animation-delay: 0.1s; }

.loader__bubble:nth-of-type(2) {
  animation-delay: 0.3s; }

.loader__bubble:nth-of-type(3) {
  animation-delay: 0.5s; }

.loader__bubble:nth-of-type(4) {
  animation-delay: 0.7s; }

@keyframes beat {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes float-left {
  from {
    transform: translateX(50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes float-right {
  from {
    transform: translateX(-50%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

.footer {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer__list {
  margin: 0;
  width: 100%;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(62, 55, 58, 0.7);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.footer__item {
  margin: 0.5rem 0; }

.footer__link {
  position: relative;
  color: var(--link-color);
  font-weight: 600; }

.footer__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--theme-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-out; }

.footer__link:hover {
  font-weight: bold; }

.footer__link:hover:after {
  transform: scaleX(1); }

@media screen and (min-width: 540px) {
  .footer__list {
    justify-content: center; }
  .footer__item {
    margin: 0 1.5rem; } }

.nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav-cta {
  display: none; }

.nav__list {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between; }

.nav__link {
  position: relative;
  color: var(--link-color); }

.nav__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--theme-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-out; }

.nav__link:hover {
  font-weight: bold; }

.nav__link:hover:after {
  transform: scaleX(1); }

@media screen and (min-width: 450px) {
  .nav__list {
    width: auto; }
  .nav__item {
    margin-right: 1rem; }
  .nav-cta {
    display: inline-block; } }

@media screen and (min-width: 1024px) {
  .nav__item {
    margin-right: 1.5rem; } }

.testimonial {
  display: none; }

.testimonial--active {
  display: block; }

.testimonial--float-left {
  animation: float-left 0.7s ease-in; }

.testimonial--float-right {
  animation: float-right 0.7s ease-in; }

.testimonial__heading {
  font-size: 2rem;
  font-weight: 600; }

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.error__heading {
  color: black;
  font-weight: 600;
  font-size: 3rem;
  margin: 2rem 0; }

.preload {
  display: none; }

.section {
  padding: 40px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

.section__heading {
  position: relative;
  font-weight: 600;
  font-size: 2rem; }

.section__heading--withbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 3px;
  background-color: var(--theme-color); }

.section__caption {
  margin: 1.5rem 0;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6; }

.section__figure {
  min-width: 50%;
  margin: 1.5rem 0; }

.center {
  text-align: center; }

.section--last {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@media screen and (min-width: 540px) {
  .section__heading {
    font-size: 2.5rem; } }

@media screen and (min-width: 620px) {
  .section--last {
    max-width: 80%; } }

@media screen and (min-width: 1024px) {
  .section {
    padding: 100px 0; }
  .section__heading {
    font-size: 3rem;
    max-width: 80%; }
  .section__caption {
    font-size: 1.1rem;
    max-width: 90%; }
  .section {
    flex-direction: row; }
  .section__figure {
    margin: 0 1.5rem; }
  .section--last {
    max-width: 70%; } }

@media screen and (min-width: 1200px) {
  .section__heading {
    font-size: 4rem;
    max-width: 75%; }
  .section__caption {
    font-size: 1.2rem;
    max-width: 85%; }
  .section--last {
    max-width: 45%; } }

/*# sourceMappingURL=style.css.map */