@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {

    --ff-primary: "Poppins";
    --ff-secondary: "Raleway";

    --link-color: #555;

    --theme-color: #F9A826;
    --theme-color-2: white;
    --body-color: #E5E5E5;
}

@import "partials/normalize";
@import "partials/buttons";
@import "partials/rating";
@import "partials/loader";
@import "partials/animations";
@import "partials/footer";
@import "partials/navigation";
@import "sections/testimonial";
@import "partials/error";

.preload {
    display: none;
}

.section {
    
    padding: 40px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.section__heading {
    position: relative;
    font-weight: 600;
    font-size: 2rem;
}

.section__heading--withbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 3px;
    background-color: var(--theme-color);
}

.section__caption {
    margin: 1.5rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

.section__figure {
    min-width: 50%;
    margin: 1.5rem 0;
}

.section__content {
    min-width: 100%;
}

.testimonial__heading {
    margin: 1rem 0;
}

.center {
    text-align: center;
}

.section--last {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section--last > .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:540px) {
    .section__heading {
        font-size: 2.5rem;
    }
}

@media screen and (min-width:620px) {
    .section--last {
        max-width: 60%;
    }
}

@media screen and (min-width:1024px) {
    .section {
        padding: 100px 0;
        flex-direction: row;
    }
    .section__heading {
        font-size: 3rem;
        max-width: 80%;
    }
    .section__caption {
        font-size: 1.1rem;
        max-width: 90%;
    }
    .section__content {
        min-width: 340px;
    }
    .section__figure {
        margin: 0 1.5rem;
    }
    .testimonial__heading {
        margin: 0;
    }
}

@media screen and (min-width:1200px) {
    .section__heading {
        font-size: 3.3rem;
        max-width: 75%;
    }
    .section__caption {
        font-size: 1.2rem;
        max-width: 85%;
    }
}