<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include('../components/head') %>
    </head>
</head>

<body>
    <%- include('../components/loader') %>
    <main class="error">
        <h1 class="error__heading">Oops! Error 404</h1>
        <a href="/" class="btn btn--primary">Get on track</a>
    </main>

    <script src="/scripts/main.js"></script>

</body>

</html>