<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') %>
</head>

<body>
    <%- include('../components/navigation') %>

    <main class="main">
        <section class="hero">
            <article class="hero__content container">
                <h1 class="hero__heading">Lorem ispum dolor sit amet</h1>
                <p class="hero__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="btn btn--primary">Start now</a>
            </article>
            <figure class="hero__figure">
                <img src="/assets/images/hero_bg.svg" alt="">
            </figure>
        </section>
    </main>

    <%- include('../components/footer') %>
</body>

</html>