<section class="order">
    <article class="order__content container">
        <% if (data.orderStatus) { %>
        <h1 class="order__heading">Order Success</h1>
        <p class="order__caption">Your book had been send to your email.</p>
        <% } else { %>
        <h1 class="order__heading">Order Failed</h1>
        <p class="order__caption">Payment failed, please try again.</p>
        <% } %>
    </article>
</section>