.nav {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-cta {
    display: none;
}

.nav__list {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: var(--link-color);
}

.nav__link::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--theme-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.nav__link:hover {
    font-weight: bold;
}

.nav__link:hover:after {
    transform: scaleX(1);   
}

@media screen and (min-width:450px) {
    .nav__list {
        width: auto;
    }
    .nav__item {
        margin-right: 1rem;
    }
    .nav-cta {
        display: inline-block;
    }
}

@media screen and (min-width:1024px) {
    .nav__item {
        margin-right: 1.5rem;
    }
}